@model ViviStreamWebsite.Models.PageTimers
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@using X.PagedList.Mvc.Common;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<link href="~/css/animate.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

@{
    ViewData["Title"] = "Timers";
}

<h3>Timers</h3>
@if (User.IsInRole("Moderator"))
{
<p>
    <a class="btn btn-primary btn-large" asp-action="Create">
        <i class="fa fa-plus"></i> Add a new Timer
    </a>
</p>
}
<br />
<div class="panel panel-primary">
    <div class="panel-heading">
        <h2 class="panel-title">Timers</h2>
    </div>
    <div class="panel-body">
        <div class="row">
            @using (Html.BeginForm("Index", "BotTimers", FormMethod.Get))
            {
                <div class="col-xs-6">
                    <div style="display: flex">
                        <label style="display: inline-block; line-height:35px;">Show &nbsp;</label>
                        <select class="form-control input-sm" data-val="true" data-val-required="The PageSize field is required." id="PageSize" name="PageSize" style="width: auto">
                            @foreach (var item in Model.PageSize)
                            {
                                if (item.Key == (int)(ViewBag.CurrentPageSize))
                                {
                                    <option value="@(item.Key)" selected="selected">@item.Value</option>
                                }
                                else
                                {
                                    <option value="@(item.Key)">@item.Value</option>
                                }
                            }
                        </select>
                        <label style="display: inline-block; line-height:35px;">&nbsp; entries</label>
                    </div>
                </div>

                <div class="col-xs-6">
                    <div class="text-right">
                        <p>
                            Timer Name or Message: @Html.TextBox("SearchString", ViewBag.CurrentFilter as string)
                            <input type="submit" value="Search" class="btn btn-primary btn-sm" />
                        </p>
                    </div>
                </div>
                <div><input type="hidden" value="@ViewBag.CurrentSort" name="currentSort" /></div>
            }
        </div>

        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th style="width: 10%" class="text-center">
                            @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.SortStatus, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                        </th>
                        <th style="width: 70%">
                            @Html.ActionLink("Timer", "Index", new { sortOrder = ViewBag.SortName, currentFilter = ViewBag.CurrentFilter, pageSize = ViewBag.CurrentPageSize })
                        </th>
                        <th style="width: 10%">
                            Interval
                        </th>
                        <th style="width: 10%" class="text-center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var p in Model.Bot_Timers)
                    {
                        <tr>
                            <td class="text-center">
                                @if (p.Status)
                                {
                                    <span class="label label-primary">
                                        @(p.StatusMessage)
                                    </span>
                                }
                                else
                                {
                                    <span class="label label-default">
                                        @(p.StatusMessage)
                                    </span>
                                }
                                @if (p.IsVisible)
                                {
                                    <span class="label label-success">
                                        @(p.VisibleMessage)
                                    </span>
                                }
                                else
                                {
                                    <span class="label label-warning">
                                        @(p.VisibleMessage)
                                    </span>
                                }
                            </td>
                            <td>
                                <span style="font-weight:bold">@(p.Name)</span><br />
                                <small style="display:block; word-wrap:break-word">@(p.Message)</small>
                            </td>
                            <td>
                                <small>
                                    @(p.Interval) mins,<br />
                                    @(p.ChatLines) lines
                                </small>
                            </td>
                            <td class="text-center">
                                <a class="btn btn-warning btn-xs" title="Details" href="@Url.Action("Details", "BotTimers", new { pk = p.PartitionKey, rk = p.RowKey })"><span><i class="fa fa-info-circle"></i></span></a>
                                <a class="btn btn-info btn-xs" title="Edit" href="@Url.Action("Edit", "BotTimers", new { pk = p.PartitionKey, rk = p.RowKey })"><span><i class="fa fa-pencil-square-o"></i></span></a>
                                <a class="btn btn-danger btn-xs" title="Delete" href="@Url.Action("Delete", "BotTimers", new { pk = p.PartitionKey, rk = p.RowKey })"><span><i class="fa fa-trash-o"></i></span></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="text-right">
    @Html.PagedListPager((IPagedList)Model.Bot_Timers,
        page =>
            Url.Action("Index",
            new {
                page, sortOrder = ViewBag.CurrentSort,
                currentFilter = ViewBag.CurrentFilter,
                pageSize = ViewBag.CurrentPageSize
            }),
            new PagedListRenderOptions {
                LinkToFirstPageFormat = "First",
                LinkToPreviousPageFormat = "Previous",
                DisplayItemSliceAndTotal = true,
                ItemSliceAndTotalFormat = "Showing {0} to {1} of {2} entries",
                LinkToNextPageFormat = "Next",
                LinkToLastPageFormat = "Last",
                DisplayLinkToFirstPage = PagedListDisplayMode.Always,
                DisplayLinkToNextPage = PagedListDisplayMode.Always,
                DisplayLinkToLastPage = PagedListDisplayMode.Always,
                DisplayLinkToPreviousPage = PagedListDisplayMode.Always
            })
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/bootstrap-notify.js"></script>
    <script type="text/javascript" src="~/js/helpers.js"></script>
    <script type="text/javascript">
        $('#PageSize').on('change', function (event) {
            var form = $(event.target).parents('form');

            form.submit();
        });

        var ac = getUrlParameter('ac');
        var type = getUrlParameter('type');

        if (type && ac)
            showNotification(ac, type);
    </script>
}